{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "2.6.10"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
      "node_modules/**"
    ]
}
